.about {
  padding: 35px 55px;
  margin: 0 20px 20px 20px;
}

.about h1 {
  color: var(--primary);
}

.about p{
  color: var(--lightgray);
  margin-top: 10px;
}

.about-skill-box .about-skill-heading {
  font-weight: bold;
}

.about-skill-box > ul > li {
  list-style: none;
  margin: 5px 0px 10px 20px;
}