@media screen and (max-width: 480px) {
  .home-container {
    width: 100vw;
    margin-left: 0;
    height: 89vh;
  }
  .home-des {
    font-size: 25px;
  }

  .wrapper .left-side {
    display: none;
  }
  .wrapper .right-side {
    display: block;
    width: 100vw;
  }
  .right-side .right-nav {
    width: 89%;
  }
  .about-education-box h2 {
    font-size: 17px;
  }
  .about-experience-box h2 {
    font-size: 17px;
    margin-top: 15px;
  }
  .about-skill-box ul {
    flex-direction: column;
  }
  .about-skill-box ul li {
    list-style: disc;
  }
  .about-skill-box .about-skill-heading {
    margin-top: 10px;
  }
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
