@media (min-width: 481px) and (max-width: 767px) {
  .home-container {
    width: 100vw;
    margin-left: 0;
    height: 89vh;
  }
  .wrapper .left-side {
    display: none;
  }
  .wrapper .right-side {
    display: block;
    width: 100vw;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .right-side .right-nav {
    width: 89%;
  }
}