/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #1a1931;
  color: #f6fafd;
  font-family: "Outfit", sans-serif;
} */
